@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.4s;
    padding: 3px;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--spacing-sm);
}

h1 {
    margin-bottom: var(--spacing-lg);
    color: var(--color-secondary);
}

button.primary-button {
    --button-bg-color: var(--color-primary);
    --button-color: var(--color-text-primary);
}

button {
    --button-bg-color: var(--color-background-soft);
    --button-color:  var(--color-text);
    /* --button-bg-color: var(--color-secondary);
    --button-color: var(--color-text-secondary); */
    --button-bg-color-hover: hsl(from var(--button-bg-color) h s calc(l - 15));
    --button-bg-color-active: hsl(from var(--button-bg-color) h s calc(l + 15));

    background-color: var(--button-bg-color);
    color: var(--button-color);
    padding: var(--field-padding) calc(2 * var(--field-padding));
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.success {
    color: var(--color-success);
}

.error {
    color: var(--color-error);
}

/* {{{ Form groups */

.form-group {
    margin-bottom: var(--field-margin);
}

.form-group label {
    display: block;
    margin-bottom: var(--spacing-xs);
    font-size: var(--font-size-sm);
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: var(--field-padding);
    border: var(--field-border);
    border-radius: var(--border-radius-sm);
    font-family: var(--font-text);
    font-size: var(--font-size-md);
}

/* }}} */

@media (hover: hover) {
    a:hover {
        background-color: var(--color-primary-inline-hover);
    }

    button:hover:not(:disabled) {
        background-color: var(--button-bg-color-hover);
    }

    button:active:not(:disabled) {
        background-color: var(--button-bg-color-active);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
